.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  
  /* Individual plot styles */
  .plot-wrapper {
    margin: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    flex-basis: 350px;
    flex-grow: 1;
  }
  
  .plot-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .plot-image {
    width: 100%;
    height: auto;
  }